#aboutus {
  background-color: rgb(245, 229, 6);
  position: relative;
  z-index: 2;
}

.Title_aboutus {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  padding-top: 5rem;

  h1 {
    margin: 0;
    z-index: 2;
  }
}

.Container_aboutus {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  z-index: 2;

  .about-img {
    margin: 0;
    padding: 0;
    margin: 6.9rem 9rem;
    background-color: rgb(124, 124, 124);
    display: grid;
    align-items: center;
    justify-items: center;

    img {
      height: 490px;
      width: 600px;
    }
  }
  .about-text {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    margin-right: 5rem;

    p {
      text-align: justify;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}
